<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="connect">WebSocket connection:</label>
                <button id="connect" class="btn btn-default">Connect</button>
                <button id="disconnect" class="btn btn-default" disabled="disabled">Disconnect
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="wordparasite">Enter new word-parasite</label>
                <input type="text" id="wordparasite" class="form-control" placeholder="Enter...">
            </div>
            <button id="sendword" class="btn btn-default">Send</button>
            <button id="cleanstats" class="btn btn-default">Clean</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Said phrases</th>
                </tr>
                </thead>
                <tbody id="userinfo">
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table id="statistics" class="table table-striped">
                <thead>
                <tr>
                    <th>Statistics</th>
                </tr>
                </thead>
                <tbody id="stats">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript" th:src="@{/app.js}"></script>
</body>
</html>